/*Note: I've separated the .css and .js from the .html files
after the register.html (Requirement number 1)
to maintain the separation of concern*/

body {
    /*There are many comments in the CSS code
    because I might edit the styling in the future
    in order to maintain the best possible UX outcome
    in the frontend implementation */

    font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a1a2e; /*333335b Midnight blue*/
    color: white; /* or Platinum: #e4e4e2*/
    display: flex; /* display: flex-start;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.container {
    background-color: #1b2a4e; /*darker: #16213e*/
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.5); /*alternative: box-shadow: 0 0px 10px rgba(15,52,96,0.3);*/
    width: 350px;
    text-align: center;
    /*margin: 0 auto;*/
    border: 1px solid #efc07b;

}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #efc07b;
    box-sizing: border-box;
}
.error-msg {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #e94560;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}