<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<!--This is the presentation Layer
I've built it in HTML and implemented CSS for styling and finishing,
and JavaScript for making the web interactive and dynamic-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Cyber Lens</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
    <h2>Join Cyber Lens</h2>
    <div id="error-message" class="error-msg"></div>
    <form action="../controllers/register.php" method="post" onsubmit="return validateForm()">
        <input type="text" name="full_name" placeholder="Full Name" required aria-label="Full Name">
        <input type="email" name="email" placeholder="Email Address" required aria-label="Email Address">
        <input type="password" name="password" id="password" placeholder="Password" required aria-label="Password">
        <input type="password" id="confirm_password" placeholder="Confirm Password" required aria-label="Confirm Password">

        <button type="submit" name="register_btn">Sign Up</button>
    </form>
    <div class="footer-link">
        Already have an account? <a href="login.html">Login</a>
    </div>
</div>

<script src="../js/script.js"></script>
</body>
</html>